body {
    font-family: Arial, sans-serif;
    background-color: #1a1818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#title {
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: #1a1818;
    padding: 1000px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tiles-container, .letters-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.tile, .letter {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile {
    background-color: #3f3939;
    color: #ffffff;
    font-weight: bold;
}

.letter {
    background-color: #6e6161;
    color: #ffffff;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
}
